html {
    position: relative;
    min-height: 100%;
}

html * {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    
    padding: 10px;
    text-align: center;
    background-color: rgba(210, 210, 210, 0.2);
    border-top: 1px solid rgba(210, 210, 210, 0.4);
}

#loader-gif {
    display: none;
}


.top-bar {
    background-color: rgba(210, 210, 210, 0.2);
    border-bottom: 1px solid rgba(210, 210, 210, 0.4);
    color: rgb(119, 119, 119);;
    border-color: #e7e7e7;
    font-size: 18px;
}
.top-bar a {
    color: rgb(119, 119, 119);;
}

.top-bar a:hover {
    color: darkslategrey;
}

#projectHead {
    display: none;
}

#searchToggle {
    font-size: 14px;
}

#searchToggle:hover {
    cursor: pointer;
}

#lookupForm {
    padding: 0;
    margin:0;
    display: none;
}

#repository {
    height: 38px;
}


.project-info {
    color:darkgray;
}

.form-group {
    max-width: 250px;
    font-size: 14px;
}

.input::placeholder {
    color: darkgray;
}

.slash {
    font-size: 32px;
    color: slategray;
}

.description {
    color:lightgrey;
}
.description h3 {
    color: darkgray;
}

.description span {
    font-size:9em; 
}


.fa-heart {
    color: red;
}

.navbar-brand {
    color: rgb(119, 119, 119);;
}

.form-group {
    width: 100%;
}
#username, #repository, #get-stats-button {
    margin-top: 10px;
    width: 100%;
}

.error {
    background-color: rgba(231, 76, 60, 0.2);
    border: solid 1px rgba(231, 76, 60, 0.4);
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.total-downloads {
    text-align: center;
    font-size: 12px;
}

.total-downloads h2 {
    font-size: 18px;
    display: inline-block;
}

.release {
    background-color: rgba(127, 140, 141, 0.2);
    border: solid 1px rgba(127, 140, 141, 0.4);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.latest-release {
    background-color: rgba(52, 152, 219, 0.2);
    border: solid 1px rgba(52, 152, 219, 0.4);
}

.latest-release-hr {
    border-top-color: rgba(52, 152, 219, 0.4);
}

.release-hr {
    border-top-color: rgba(127, 140, 141, 0.4);
}

.release-dl-count {
    font-size: 24px;
    font-weight: bold;
    color: forestgreen;
    text-align: right;
}

.author {
    font-size: 12px;
}

.author-img {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.table-sm {
    font-size: 12px;
}

.row-good {
    background-color:mintcream;
}

.row-ignore {
    background-color:mistyrose;
}

.gh-link {
    font-size: 24px;
}
